<!DOCTYPE html>
<html lang="en">
<head>
    {# 基模板：基模板中包含完整的 HTML 结构和导航栏、页首、页脚等通用部分。追加及重写，默认的是块重写，如果想要追加得在子块中使用super()声明。在子模板里，我们可以使用 extends 标签来声明继承自某个基模板。 #}
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">      {# meta元素用于设置页面的视口 页面根据设备的宽度来自动缩放页面，这样会让移动设备拥有更好的浏览体验#}
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor%}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ user.name }}'s Watchlist'
    </h2>
    {# 导航栏 #}
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>
    {# 用于在子模版中插入主体内容的content块 #}
    {% block content %}{% endblock %}
    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('settings') }}">Settings</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
    {% endif %}
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
</body>
</html>